.env
*.podspec.lock
node_modules/

resumeBuildDataScience/
resumeBuildDataScienceFINANCE/
resumeBuildDataScienceHEALTHCARE/
resumeBuildDataScienceLOGISTICS/
resumeBuildPhysicsResearch/
resumeBuildSoftwareEng/
