* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
:root {
    --main-color:#3AB8FF;
    --main-color-darker: #0072b4;
}
html {
    scroll-behavior: smooth;
}
body {
    background: #000;
    color: #fff;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
/* ---------------------header------------------- */
#header {
    width: 100%;
}

.container {
    padding: 10px 10%;
}

/* start nav style */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* start logo animation and style */

#logo {
  overflow: hidden;
  display: inline-block;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#logo:hover span {
    opacity: 1;
}

.logoMainText {
    display: inline-block;
    vertical-align: baseline;
    font-weight: bold;
    color: var(--main-color);

    font-size: 60px;
}
.logoSubText {
    transition: width 0.3s ease-out, opacity 0.3s ease-out;
    width: 0;
    opacity: 0;
    display: inline-block;
    vertical-align: baseline;
    overflow: hidden;

    font-size: 40px;
}

/* end logo animation and style */

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--main-color);
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.3s;
}
nav ul li a:hover::after {
    width: 100%;
}

/* end nav style */

/* ---------------------portfolio----------------- */

#portfolio {
    padding-top: 50px;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.work-list {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 10px;
    text-align: center;
    margin: 1em 0;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.work img {
    width: auto;
    vertical-align: middle;
    transition: transform 0.3s;
    max-width: 450px;
    border-radius: 10px;
}
.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), var(--main-color));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.3s;
    white-space: wrap;
}
.layer h3 {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 20px;
}
.layer .projectLink {
    margin-top: 20px;
    color: var(--main-color-darker);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.projectDescriptionLink {
    color: #fff;
    text-decoration: underline;
}
.work:hover img {
    transform: scale(1.1);
}
.work:hover .layer {
    height: 100%;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    color: #ababab
}


/* ---------------------- Snall screens --------------------- */

@media only screen and (max-width: 600px) {

    .logoMainText {
        font-size: 40px;
    }
    .logoSubText {
        font-size: 28px;
    }

    .sub-title {
        font-size: 40px;
    }

    #portfolio {
        padding-top: 20px;
    }

    .work-list {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .copyright {
        font-size: 14px;
    }
}