* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
:root {
    --main-color:#3AB8FF;
    --main-color-darker: #0072b4;
}
html {
    scroll-behavior: smooth;
}
body {
    background: #000;
    color: #fff;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
/* ---------------------header------------------- */
#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/black_background_2_landscape_2.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    padding: 10px 10%;
}

/* start nav style */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* start logo animation and style */

#logo {
  overflow: hidden;
  display: inline-block;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#logo:hover span {
    opacity: 1;
}

.logoMainText {
    display: inline-block;
    vertical-align: baseline;
    font-weight: bold;
    color: var(--main-color);

    font-size: 60px;
}
.logoSubText {
    transition: width 0.3s ease-out, opacity 0.3s ease-out;
    width: 0;
    opacity: 0;
    display: inline-block;
    vertical-align: baseline;
    overflow: hidden;

    font-size: 40px;
}

/* end logo animation and style */

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--main-color);
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.3s;
}
nav ul li a:hover::after {
    width: 100%;
}

/* end nav style */

.header-text {
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span {
    color: var(--main-color);
}

/* ---------------------about------------------- */

#about {
    padding: 80px 0;
    color: #ababab
}
.row {
    display: flex;
    justify-content: space-between;
}
.about-col-1 {
    flex-basis: 35%;
}
.about-col-1 img {
    width: 100%;
    border: 0.5px solid gray;
    border-radius: 15px;
}
.about-col-2 {
    flex-basis: 60%;
}
.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--main-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}
.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span {
    color: var(--main-color);
    font-size: 14px;
}
.tab-contents ul li a {
    color: var(--main-color);
}
.tab-contents ul li a:visited {
    color: var(--main-color);
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: block;
}

/* -----------------portfolio----------------- */

#portfolio {
    padding: 50px 0;
}
.work-list {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 10px;
    text-align: center;
    margin: 1em 0;
    transition: transform 0.3s;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.work img {
    width: auto;
    vertical-align: middle;
    transition: transform 0.3s;
    max-width: 450px;
    border-radius: 10px;
}
.layer {
    width: 100%;
    height: auto;
    max-height: 100px;
    background: linear-gradient(rgba(0,0,0,0.6), black);
    border-top: 2px solid var(--main-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: max-height 0.3s;
    white-space: wrap;
}
.layer h3 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 20px;
    width:100%;
    margin-top:20px;
}
.layer p {
    opacity: 0;
    transition: opacity 0.3s 0.1s;
}
.layer a {
    opacity: 0;
    transition: opacity 0.3s 0.1s;
}

.layer .tag-holder {
    width:100%;
}

.layer .tag {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    background:rgb(84, 84, 84);
    border: 1px solid rgb(61, 61, 61); 
    border-radius: 20px;
    font-size: 14px;
    width:fit-content;
    float: left;
    padding: 5px;    
}

.layer .projectLink {
    margin-top: 20px;
    color: var(--main-color-darker);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.projectDescriptionLink {
    color: #fff;
    text-decoration: underline;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer {
    max-height: 80%;
}
.work:hover .layer p {
    opacity: 1;
}
.work:hover .layer a {
    opacity: 1;
}
.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid var(--main-color-darker);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.3s;
}
.btn:hover {
    background: var(--main-color-darker)
}

/* --------------------interests------------------- */

#interests {
    padding: 30px 0;
}
.interests-list {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.interests-list div {
    background: #262626;
    padding: 40px;
    font-size: 18px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.3s, transform 0.3s;
}
.interests-list div i {
    font-size: 50px;
    margin-bottom: 30px;
}
.interests-list div h2 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 15px;
}
.interests-list div a {
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    font-size: 10px;
    margin-right: 15px;
    color: #fff;
}
.interests-list div:hover {
    background: var(--main-color-darker);
    transform: translateY(-10px);
}

/* ------------------contact----------------- */

#contact {
    margin-top: 50px;
}
.contact-left {
    flex-basis: 35%;
}
.contact-left p {
    margin-top: 30px;
}
.contact-left p i {
    color: var(--main-color);
    margin-right: 15px;
    font-size: 25px;
}
.social-icons {
    margin-top: 30px;
}
.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: color 0.3s, transform 0.3s;
}
.social-icons a:hover {
    color: var(--main-color);
    transform: translateY(-5px);
}
.btn.btn2 {
    display: inline-block;
    background: var(--main-color-darker);
}
.contact-right {
    flex-basis: 60%;
}
.contact-right form {
    width: 100%;
}
form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px; 
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form textarea {
    resize: none;
}
form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 15px;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    color: #ababab
}
#msg {
    margin-top: -40px;
    margin-left: 15px;
    display: block;
}

/* --------------------- CSS for phone screens ------------------- */
nav .fa-solid {
    display: none;
}


@media only screen and (max-width: 600px) {

    #header {
        background-image: url(images/black_background_2_portrait.png);
    }

    .logoMainText {
        font-size: 40px;
    }
    .logoSubText {
        font-size: 28px;
    }

    .header-text {
        margin-top: 150%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid {
        display: block;
        font-size: 25px;
    }
    nav ul {
        background: var(--main-color-darker);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.3s;
    }
    nav ul li {
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .row {
        flex-direction: column;
    }
    .sub-title {
        font-size: 40px;
    }
    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }
    .about-col-1 {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .about-col-2 {
        font-size: 14px;
    }
    .tab-links {
        font-size: 14px;
        margin-right: 20px;
    }

    .interests-list div {
        font-size:15px;
    }
    .interests-list div h2 {
        font-size:24px;
    }

    .contact-left, .contact-right {
        flex-basis: 100%;
    }

    form input, form textarea {
        margin-left: 0;
    }
    form .btn2 {
        margin-left: 0;
    }

    .copyright {
        font-size: 14px;
    }
}